.flex-center {
  width: 300px;
  height: 400px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(129, 205, 249, 1) 66%,
    rgba(0, 179, 255, 1) 100%
  );
  -webkit-box-shadow: 3px 6px 56px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 6px 56px -16px rgba(66, 68, 90, 1);
  box-shadow: 3px 6px 56px -16px rgba(66, 68, 90, 1);
  border-radius: 20px;
  margin: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}
.Temperature {
  color: white;
  font-size: 50px;
  align-self: flex-end;
  margin-right: 5%;
  font-weight: 150;
}
.Date {
  color: white;
  margin-top: 5%;
}
.Symbol {
  height: auto;
  max-width: 60%;
  margin-right: 10%;
}
